<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Z&S Beauty</title>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/paginicio.css">
</head>

<body>
<header class="navbar">
<nav class="nav-center">
<ul>                    
<li><a href="">Inicio</a></li>
<li><a href="">Servicios</a></li>
<li><a href="pagproductos.html">Productos</a></li>
</ul>
</nav>

<div class="nav-right">
<span>🔔</span>
<span>🛒</span>
<span>👤</span>
</div>

</header>
<main>
<section class="layout">
<div class="contenedor izquierdo">
<div class="hero">
<div class="hero-text">
<p class="welcome">BIENVENIDA</p>
<h1>Realza tu belleza <br><span>con nosotros</span></h1>
<p>Tratamientos faciales y corporales pensados para ti.</p>
</div>
<div class="hero-img">
<img src="/img/cara2.jpeg" alt="facial">
</div>
</div>
<div class="buttons">
<button>Reservar cita</button>
<button>Servicios</button>
<button>Productos</button>
</div>
<div class="promo">
<img src="/img/cara.jpeg" alt="promiii">
<div class="promo-text">
<span class="badge">PROMOCIÓN DEL MES</span>
<h2>20%</h2>
<p>de descuento en limpieza facial.</p>
</div>
</div>
</div>
<div class="imagenlateral">
<img src="/img/imagenlateral.avif" alt="imagenlateral">
</div>
</section>
<section class="about">
<h2>SOBRE NOSOTROS</h2>
<p>
En Z&S Beauty Aesthetics Center trabajamos para resaltar tu belleza y bienestar
con servicios estéticos de alta calidad. Nuestro compromiso es brindarte atención
profesional, confianza y resultados que te hagan sonreír.
</p>
</section>
</main>
<footer>
<div>
<span>📷</span>
<span>📘</span>
<span>📞 809-098-354</span>
</div>
<div>
<span>📍</span>
<span>✉ zsbeautycenter@gmail.com</span>
</div>
</footer>
</body>

</html>