<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registrar Cita</title>
<link rel="stylesheet" href="../css/reservacita.css">
</head>
<body>
<div class="container">
<form>
<h2>Registrar Cita</h2>
<div class="mb-3">
<label for="cliente" class="form-label">
Cliente:
</label>
<input 
type="text" 
id="cliente" 
name="cliente"
class="form-control">
</div>
<div class="mb-3">
<label for="servicio" class="form-label">
Servicio:
</label>
<select 
id="servicio" 
name="servicio"
class="form-select">
<option>Lavado capilar</option>
<option>Lavado con linea</option>
<option>Secado</option>
<option>Corte de puntas</option>
<option>Corte elaborado</option>
<option>alisados</option>
<option>hidratacion</option>
<option>tinte</option>
<option>mechas</option>
<option>peinado basico</option>
<option>peinado elaborado</option>
<option>Retoque de tinte</option>
<option>Masajes relajantes</option>
<option>Masajes reductores</option>
<option>Exfoliacion corporal</option>
<option>Hidratación corporal</option>
<option>wax piernas</option>
<option>wax brazos</option>
<option>wax axilas</option>
<option>wax bikini</option>
<option>laser piernas</option>
<option>laser brazos</option>
<option>laser axilas</option>
<option>laser bikini</option>
<option>Manicure tradicional</option>
<option>pedicure tradicional</option>
<option>uñas acrilicas</option>
<option>uñas en gel</option>
<option>Maquillaje social</option>
<option>Maquillaje profesional</option>
<option>Maquillaje social</option>
<option>Limpieza facial profunda</option>
<option>Hidratacion facial</option>
<option>Tratamientos para acne</option>
<option>Tratamientos antimanchas</option>
</select>
</div>
<div class="mb-3">
<label for="fecha" class="form-label">
Fecha:
</label>
<input 
type="date" 
id="fecha" 
name="fecha"
class="form-control">
</div>
<div class="mb-3">
<label for="hora" class="form-label">
Hora:
</label>
<input 
type="time" 
id="hora" 
name="hora"
class="form-control">
</div>
<button type="submit" class="btn btn-primary w-100">
Guardar Cita
</button>
</form>
</div>
</body>
</html>